<script>
    import IconLeft from 'virtual:icons/fa-solid/arrow-circle-left';
    import IconPin from 'virtual:icons/fa-solid/map-marker-alt';
    import IconLink from 'virtual:icons/fa-solid/link';
    import IconInfo from 'virtual:icons/fa-solid/info';
    import IconServices from 'virtual:icons/fa-solid/hand-holding-medical';
    import IconUsers from 'virtual:icons/fa-solid/users';
    import { PUBLIC_GOOGLE_API_KEY } from "$env/static/public"
    import StateCard from '../../../components/StateCard.svelte';
    import HospitalCard from '../../../components/HospitalCard.svelte';

    export let data;
    let mapImageUrl = '';
    const info = data.name

    // getting map view of place
    const apiUrl = `https://maps.googleapis.com/maps/api/staticmap?center=${encodeURIComponent}&size=400x400&markers=color:red|${info.address}}&size=${'400x400'}&key=${PUBLIC_GOOGLE_API_KEY}`;

    fetch(apiUrl)
    .then(response => {
    // Check if the response is successful
    if (!response.ok) {
        throw new Error('Network response was not ok');
    }
    // Return the response as blob (binary data)
    return response.blob();
    })
    .then(blob => {
            // Convert the blob data to a URL
            mapImageUrl = URL.createObjectURL(blob);
        })
    .catch(error => {
    console.error('There was a problem with the fetch operation:', error);
    });
</script>
    
<div class="m-10 mt-5 flex flex-col">
    <a class="flex flex-row text-gray-400 hover:text-gray-600 transition-colors" href="/organizations">
        <IconLeft class="h-6 w-6 mr-2" />
        <span class="font-bold">Back</span>
    </a>
    
    <img class="w-full h-96 object-cover mt-5" src={info.image} alt={info.name} />
    <div class="flex flex-row>">
        <div>
            <h1 class="font-bold text-2xl mt-10" id="title">{info.name}</h1>
            <div class="flex flex-row mt-4 flex-wrap">
                <p class="mr-5 mt-1 text-gray-400 flex-row flex items-center"><IconPin class="h-5 w-5 mr-2 text-light-blue" /> {info.city}, {info.state_abbr} people</p>
                <p class="mr-5 mt-1 text-gray-400 flex-row flex items-center"><IconInfo class="h-5 w-5 mr-2 text-light-blue" /> {info.type}</p>
                <p class="mr-5 mt-1 text-gray-400 flex-row flex items-center"><IconServices class="h-5 w-5 mr-2 text-light-blue" /> {info.services != null ? info.services : "Unknown"}</p>
                <p class="mr-5 mt-1 text-gray-400 flex-row flex items-center"><IconUsers class="h-5 w-5 mr-2 text-light-blue" /> {info.num_patients_2022 != null ? info.num_patients_2022 : "Unknown"} patients</p>
            </div>
            <p class="mt-5">The number of patients for {info.name} was {info.num_patients_2022 != null ? info.num_patients_2022 : "Unknown"} in 2022. {info.name} provided {info.services != null ? info.services : "Unknown"} help. You can learn more by following this link:
                <a href={info.url} class="text-light-blue">
                    <p class="flex flex-row mr-4"><IconLink />{info.url}</p>
                </a>
            </p>
        </div>
        <img class="w-full h-56 object-cover object-center" src={mapImageUrl} alt="avatar" style="width: 400px; height: 400px;">
    </div>

    <div class="flex flex-row mt-10">
        <div>
            {#if info.state.id}
                <h3 class="font-semibold text-lg mt-10">State Data:</h3>
                <StateCard {...info.state}/> 
            {/if}


            {#if info.hospitals && info.hospitals.length > 0}
                <h3 class="font-semibold text-lg mt-10">Hospital Data:</h3>
                <HospitalCard {...info.hospitals[0]}/>
            {/if}
        </div>
    </div>
</div>