<script>
    import IconLeft from 'virtual:icons/fa-solid/arrow-circle-left';
    import IconUsers from 'virtual:icons/fa-solid/users';
    import IconHospital from 'virtual:icons/fa-solid/hospital';
    import IconAsterisk from 'virtual:icons/fa-solid/asterisk';
    import IconMedical from 'virtual:icons/fa-solid/medkit';
    import IconMoney from 'virtual:icons/fa-solid/money-bill-wave';
    import HospitalCard from '../../../components/HospitalCard.svelte';
    import OrgCard from '../../../components/OrgCard.svelte';

    export let data;
    const info = data.state


    import { onMount } from 'svelte';
    import { select } from 'd3-selection';
    import { geoPath, geoAlbersUsa } from 'd3-geo';
    import { feature } from 'topojson-client';
    import * as d3 from 'd3';

    let svg;

    onMount(() => {
        // Get the SVG container
        svg = select('#map-container')
            .append('svg')
            .attr('width', 500)
            .attr('height', 500);

        // Load the county data
        const counties = info.topojson;
        const county_data = info.counties;
        let max = d3.max(county_data, d => parseFloat(d["percent_uninsured"]));
        let min = d3.min(county_data, d => parseFloat(d["percent_uninsured"]));
        
        // Create a random color scale
        const colorScale = d3.scaleLinear()
            .domain([min, max])
            .range(["#def6fc", "#4a9cb0"]);

        // Define a projection that returns itself (no transformation)
        const projection = d3.geoIdentity()
            .fitSize([500, 500], counties);

        // Create a path generator
        const path = geoPath().projection(projection);

        // Draw the counties
        svg.selectAll('path')
            .data(counties.features)
            .enter()
            .append('path')
            .attr('d', path)
            .attr('fill', d => {
                const county = county_data.find(c => c["fips"] === +d.properties.id);
                if (!county) {
                    return 'white';
                }
                return colorScale(county["percent_uninsured"]);
            });

        // Create a legend
        const legend = svg.append('g')
            .attr('class', 'legend')
            .attr('transform', 'translate(10, 25)');

        // Add legend color gradient
        const gradient = legend.append('defs')
            .append('linearGradient')
            .attr('id', 'gradient')
            .attr('x1', '0%')
            .attr('y1', '0%')
            .attr('x2', '0%')
            .attr('y2', '100%');

        gradient.append('stop')
            .attr('offset', '0%')
            .attr('stop-color', '#4a9cb0');

        gradient.append('stop')
            .attr('offset', '100%')
            .attr('stop-color', '#def6fc');

        legend.append('rect')
            .attr('width', 15)
            .attr('height', 200)
            .style('fill', 'url(#gradient)');

        // Add legend labels
        const legendLabels = legend.append('g')
            .attr('class', 'legend-labels')
            .attr('transform', 'translate(0, 20)');

        legendLabels.append('text')
            .attr('x', 20)
            .attr('y', -15)
            .text(max + "%");

        legendLabels.append('text')
            .attr('x', 20)
            .attr('y', 185)
            .text(min + "%");
    });
</script>
    
<div class="m-10 mt-5 flex flex-col">
    <a class="flex flex-row text-gray-400 hover:text-gray-600 transition-colors" href="/demographics">
        <IconLeft class="h-6 w-6 mr-2" />
        <span class="font-bold">Back</span>
    </a>
    
    <img class="w-full h-96 object-cover mt-5" src={info.image} alt={info.name} />
    <h1 class="font-bold text-2xl mt-10" id="title">{info.name}</h1>
    <div class="flex flex-row mt-5 flex-wrap">
        <p class="mr-5 text-gray-400 flex-row flex items-center"><IconUsers class="h-5 w-5 mr-2 text-light-blue" /> {info.population} people</p>
        <p class="mr-5 text-gray-400 flex-row flex items-center"><IconAsterisk class="h-5 w-5 mr-2 text-light-blue" /> {info.num_health_centers} health centers</p>
        <p class="mr-5 text-gray-400 flex-row flex items-center"><IconHospital class="h-5 w-5 mr-2 text-light-blue" /> {info.num_hospitals} hospitals</p>
        <p class="mr-5 text-gray-400 flex-row flex items-center"><IconMedical class="h-5 w-5 mr-2 text-light-blue" /> {info.percent_uninsured}% uninsured</p>
        <p class="mr-5 text-gray-400 flex-row flex items-center"><IconMoney class="h-5 w-5 mr-2 text-light-blue" /> {info.percent_low_income}% low income</p>
    </div>
    <p class="mt-5">{info.description}</p>
    <div id="map-container" class="mt-10 hidden md:block mx-auto">
        <h3 class="font-semibold text-lg mb-3">% uninsured by county</h3>
    </div>


    <div class="flex flex-row mt-10">
        <div>
            {#if info.hospitals && info.hospitals.length > 0}
                <h3 class="font-semibold text-lg mt-10">Hospital Data:</h3>
                <HospitalCard {...info.hospitals[0]}/>
            {/if}

            {#if info.organizations}
                <h3 class="font-semibold text-lg mt-10">Organization Data:</h3>
                <OrgCard {...info.organizations[0]}/>
            {/if}
        </div>
    </div>
</div>