<script>
    export let items = {};
    export let handleSelect;

    let selected = '';
    let option = '';
    let order = 'asc';
    let checked = false;
    $: order = checked ? 'desc' : 'asc';
    $: option = items[selected];

    // change dropdown title
    let title = 'Filter by';
    $: {
        if (selected) {
            title = 'Filter by ' + selected;
        }
    }

    // handle filter
    $: {
        if (selected) {
            handleSelect(option, order);
        }
    }
</script>

<details class="dropdown dropdown-end">
    <summary class="m-1 btn min-w-32">{title}</summary>
    <ul class="dropdown-content menu z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        {#each Object.keys(items) as item}
            <li class="menu-item">
                <div 
                tabindex="0"
                role="button" 
                on:keydown={() => selected = item}
                class="hover:bg-primary" 
                on:click={() => selected = item}>
                    {item}
                </div>
            </li>
        {/each}
    </ul>
</details>
