<!-- StateCard.svelte -->
<script>
    import Icon from '@iconify/svelte';

    export let name;
    export let population;
    export let num_health_centers;
    export let num_hospitals;
    export let percent_uninsured;
    export let percent_low_income;
    export let image;
    export let id;
    export let highlightText;
</script>

<div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <img class="w-full h-56 object-cover object-center" src={image} alt="avatar">
    <div class="py-4 px-6 w-full flex flex-col">
        {#if highlightText && name.toLowerCase().includes(highlightText.toLowerCase())}
            <h4 class="text-xl font-bold text-gray-800">
                {#each name.split(new RegExp(`(${highlightText})`, 'ig')) as part}
                    {#if part.toLowerCase() === highlightText.toLowerCase()}
                        <span class="highlight">{part}</span>
                    {:else}
                        {part}
                    {/if}
                {/each}
            </h4>
        {:else}
            <h4 class="text-xl font-bold text-gray-800">{name}</h4>
        {/if}
        <div class="flex flex-row flex-wrap my-4 gap-2 text-gray-600 text-sm">
            <span class="flex flex-row items-center gap-1">
                <Icon icon="fa6-solid:users" />
                {(population / 1000000.0).toFixed(1)}m people
            </span>
            <span class="flex flex-row items-center gap-1">
                <Icon icon="fa6-solid:asterisk" />
                {num_health_centers} health centers
            </span>
            <span class="flex flex-row items-center gap-1">
                <Icon icon="fa6-solid:hospital" />
                {num_hospitals} hospitals
            </span>
            <span class="flex flex-row items-center gap-1">
                <Icon icon="fa6-solid:suitcase-medical" />
                {percent_uninsured}% uninsured
            </span>
            <span class="flex flex-row items-center gap-1">
                <Icon icon="fa6-solid:money-bill-wave" />
                {percent_low_income}% low income
            </span>
        </div>
        <a href={"/demographics/" + id} class="bg-gray-200 text-gray-800 font-semibold py-2 px-4 text-sm rounded-full mx-auto mt-3 hover:bg-gray-600 hover:text-white transition-all">
            Learn More
        </a>
    </div>
</div>

<style>
    .highlight {
        background-color: yellow;
    }
</style>
