<script>
    import { onMount } from 'svelte';
    import * as d3 from 'd3';

    // joy plot of each state, with a density map of the percent uninsured in each county
    let data = {};
    let svg;

    let margin = {top: 10, right: 10, bottom: 10, left: 10},
        width = 900 - margin.left - margin.right,
        height = 650 - margin.top - margin.bottom;

    onMount(() => {
        // load the  data
        // Add X axis
        svg = d3.select("#map-container3")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");
                        

        fetch('https://api.care-hub.me/visualizations/types')
            .then(response => response.json())
            .then(d => {
                data = d;
                console.log(data);
                // Give the data to this cluster layout:
                var root = d3.hierarchy(data).sum(function(d){ return d.value}) // Here the size of each leave is given in the 'value' field in input data

                // Then d3.treemap computes the position of each element of the hierarchy
                d3.treemap()
                    .size([width, height])
                    .paddingTop(28)
                    .paddingRight(20)
                    .paddingInner(3)      // Padding between each rectangle
                    //.paddingOuter(6)
                    //.padding(20)
                    (root)

                // prepare a color scale
                var color = d3.scaleOrdinal()
                    .domain(["hospitals", "organizations"])
                    .range([ "#402D54", "#D18975"])


                // use this information to add rectangles:
                svg
                .selectAll("rect")
                .data(root.leaves())
                .enter()
                .append("rect")
                    .attr('x', function (d) { return d.x0; })
                    .attr('y', function (d) { return d.y0; })
                    .attr('width', function (d) { return d.x1 - d.x0; })
                    .attr('height', function (d) { return d.y1 - d.y0; })
                    .style("stroke", "black")
                    .style("fill", function(d){ return color(d.parent.data.name)} )

                // and to add the text labels
                svg
                .selectAll("text")
                .data(root.leaves())
                .enter()
                .append("text")
                    .attr("x", function(d){ return d.x0+5})    // +10 to adjust position (more right)
                    .attr("y", function(d){ return d.y0+20})    // +20 to adjust position (lower)
                    .text(function(d){ return d.data.name })
                    .attr("font-size", "11px")
                    .attr("fill", "white")

                // and to add the text labels
                svg
                .selectAll("vals")
                .data(root.leaves())
                .enter()
                .append("text")
                    .attr("x", function(d){ return d.x0+5})    // +10 to adjust position (more right)
                    .attr("y", function(d){ return d.y0+35})    // +20 to adjust position (lower)
                    .text(function(d){ return d.data.value })
                    .attr("font-size", "8px")
                    .attr("fill", "white")

                // Add title for the 3 groups
                svg
                .selectAll("titles")
                .data(root.descendants().filter(function(d){return d.depth==1}))
                .enter()
                .append("text")
                    .attr("x", function(d){ return d.x0})
                    .attr("y", function(d){ return d.y0+21})
                    .text(function(d){ return d.data.name })
                    .attr("font-size", "19px")
                    .attr("fill",  function(d){ return color(d.data.name)} )

            });
    });


// This is what I need to compute kernel density estimation
function kernelDensityEstimator(kernel, X) {
  return function(V) {
    return X.map(function(x) {
      return [x, d3.mean(V, function(v) { return kernel(x - v); })];
    });
  };
}
function kernelEpanechnikov(k) {
  return function(v) {
    return Math.abs(v /= k) <= 1 ? 0.75 * (1 - v * v) / k : 0;
  };
}
    
</script>


<div id="map-container3" class="hidden sm:block py-[20px] bg-slate-50 mb-20">
    <h3 class="font-semibold text-lg block mx-auto text-center">Major Resource Types</h3>
</div>

<!--  hidden md:block mx-auto -->

<style>
    :global(#map-container3 svg) {
        margin: auto;
    }
</style>