<script>
    import IconLeft from 'virtual:icons/fa-solid/arrow-circle-left';
    import IconPin from 'virtual:icons/fa-solid/map-marker-alt';
    import IconLink from 'virtual:icons/fa-solid/link';
    import IconInfo from 'virtual:icons/fa-solid/info';
    import IconServices from 'virtual:icons/fa-solid/hand-holding-medical';
    import IconUsers from 'virtual:icons/fa-solid/users';
    import { PUBLIC_GOOGLE_API_KEY } from "$env/static/public"
	import StateCard from '../../../components/StateCard.svelte';
    import OrgCard from '../../../components/OrgCard.svelte';

    export let data;
    let mapImageUrl = '';
    const info = data.hospital

    // getting map view of place
    const apiUrl = `https://maps.googleapis.com/maps/api/staticmap?center=${encodeURIComponent}&size=400x400&markers=color:red|${info.address}}&size=${'400x400'}&key=${PUBLIC_GOOGLE_API_KEY}`;

    fetch(apiUrl)
    .then(response => {
    // Check if the response is successful
    if (!response.ok) {
        throw new Error('Network response was not ok');
    }
    // Return the response as blob (binary data)
    return response.blob();
    })
    .then(blob => {
            // Convert the blob data to a URL
            mapImageUrl = URL.createObjectURL(blob);
        })
    .catch(error => {
    console.error('There was a problem with the fetch operation:', error);
    });
</script>
    
<div class="m-10 mt-5 flex flex-col">
    <a class="flex flex-row text-gray-400 hover:text-gray-600 transition-colors" href="/hospitals">
        <IconLeft class="h-6 w-6 mr-2" />
        <span class="font-bold">Back</span>
    </a>
    
    <!-- generate image in loaded hospital page -->
    <img class="w-full h-96 object-cover mt-5" src={info.image} alt={info.name} />
    <div class="flex flex-row">
        <div>
            <h1 class="font-bold text-2xl mt-10" id="title">{info.name}</h1>
            <div class="flex flex-row mt-4 flex-wrap">
                <p class="mr-5 mt-1 text-gray-400 flex-row flex items-center"><IconPin class="h-5 w-5 mr-2 text-light-blue" /> {info.city}, {info.state_abbr}</p>
                <p class="mr-5 mt-1 text-gray-400 flex-row flex items-center"><IconUsers class="h-5 w-5 mr-2 text-light-blue" /> {"Hospital Ownership: "+ info.ownership}</p>
                <p class="mr-5 mt-1 text-gray-400 flex-row flex items-center"><IconInfo class="h-5 w-5 mr-2 text-light-blue" /> {"Hospital Type: "+info.type}</p>
                <p class="mr-5 mt-1 text-gray-400 flex-row flex items-center"><IconServices class="h-5 w-5 mr-2 text-light-blue" /> {"Emergency Services Offered: "+info.emergency_services}</p>
                <p class="mr-5 mt-1 text-gray-400 flex-row flex items-center">
                    <IconUsers class="h-5 w-5 mr-2 text-light-blue" /> 
                    {#if info.rating !== null}
                        {info.rating} Star Rating
                    {:else}
                        Unknown Star Rating
                    {/if}
                </p>
                <p class="mt-5">This hospital is located in {info.state.name} and is located at {info.address}. More information can be found at 
                    <a href={info.url} class="text-light-blue">
                        <p class="flex flex-row mr-4"><IconLink />{info.url}</p>
                    </a>
                </p>
            </div>
        </div>

        <img class="w-full h-56 object-cover object-center" src={mapImageUrl} alt="avatar" style="width: 400px; height: 400px">
    </div>

    <div class="flex flex-row mt-10">
        <div>
            {#if info.state.id}
                <h3 class="font-semibold text-lg mt-10">State Data:</h3>
                <StateCard {...info.state}/> 
            {/if}


            {#if info.organizations}
                <h3 class="font-semibold text-lg mt-10">Organization Data:</h3>
                <OrgCard {...info.organizations[0]}/>
            {/if}
        </div>
    </div>
</div>
